.container{
    text-align: center;
}
table{
    margin: auto;
}
input{

    font-size: 34px;
    width: 25%;
}
button{
    font-size: 24px;
    background: whitesmoke; 
    width: 45px;
    height: 45px;
}